.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 6fr 1fr 1fr;
  background-color: #EAE7DC;
}

input:focus,
select:focus,
textarea:focus,
Link:focus,
button:focus {
    outline: none;
}

#taskContain {
  height: 50px;
}

button {
  border: none;
}

#heading {
  font-size: 45px;
  color: #E85A4F;
}
